* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(235, 235, 235, 0.548);
}

p {
    padding-top: 10px;
    color: brown;
}


legend {
    color: rgb(168, 168, 168);
    font-size: 2em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.block-cadastro {
    max-width: 1000px;
    margin: 60px auto;
    padding: 50px;
    background-color: rgb(255, 255, 255);   
    border-radius: 10px;
}

.input-group {
    padding: 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
}

.input-group>label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    color: rgb(89, 31, 136);
    padding: 0 0 5px;
}

.input-group>input {
    background: none;
    outline: none;
    width: 100%;
    height: 35px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgb(116, 116, 116);

}

.input-group>select {
    border: none;
    border-radius: 10px;
    outline: none;
    margin-left: 10px
}

.newsletterForm {
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(85, 85, 85);
    padding-left: 100px;
}

button {
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(85, 85, 85);
    background: none;
    padding: 5px;
    border: none;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    color: rgb(80, 80, 80);
}

.newsletterForm span {
    font-size: 0.8em;
}

footer {
    width: 100%;

    top: -100px;
    bottom: 0;
}