* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
  /* Efeito paralax;  
    background-image: url('https://images.pexels.com/photos/2440061/pexels-photo-2440061.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */  
}

h1, h3, h4, p, a {
    font-family: 'Nunito', sans-serif;  
}

ul, li, a {
    text-decoration: none;
    list-style: none;   
    font-family: 'Nunito', sans-serif;;
    font-weight: 500;
}

h2 {
    color: rgb(99, 99, 99);
    font-size: 1.5em;
    font-family: 'nunito' ,sans-serif;
    font-weight: inherit;
    text-shadow:5px 4px 0px rgba(0,0,0,0.15);  
}

h4 {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.2;
}

.icon {
    height: 30px;
    margin: 10px;
}

.icon-1 {
    height: 25px;
}

.self {
    align-self: center;
}

/*  ANUNCIO _ MENSAGEM  */

.msg-anuncio {
    height: 10px;
    background-color: rgb(10, 10, 10);
}

/*
 _   _            ______            
| \ | |           | ___ \           
|  \| | __ ___   _| |_/ / __ _ _ __ 
| . ` |/ _` \ \ / / ___ \/ _` | '__|
| |\  | (_| |\ V /| |_/ / (_| | |   
\_| \_/\__,_| \_/ \____/ \__,_|_|   
                                    
                                    */

.position-relative {
    position: relative;
    display: flex;
    gap: 10px;
}

.menu-bg {
    background-color: rgb(255, 253, 253);

}

.logo {
    background-image: url('../imagens/icones/logo.png');
    background-size: cover;
    height: 80px;
    width: 100px;
    margin: 10px;
    flex: 0 0 auto;
    margin: 0 100px;
    cursor: pointer;
}

.nav-1 {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex: 3 0 auto;
    font-family: 'Nunito', sans-serif; 
    font-size: 0.8rem;
    font-weight: 600;
}

.submit-lente {
    background: rgb(235, 22, 153);
    border: none;
    height: 30px;
    width: 50px; 
    cursor: pointer;
  }

.img-lent {
    background-image: url('../imagens/icones/lupa-icon.png');
    background-size: cover;
    height: 25px;
    width: 25px;   
    margin-left: 10px;
    
}
  
.submit-line {
    position: relative;
    width: 200px;
    align-self: center;
    display: flex;
    flex: 3 0 auto;
    
  }

.nav-1 input {
    height: 30px;
    width: 100%;
    padding: 10px;
    border: 1px solid #9e9e9e;
    outline: none;
    position: relative;
}

.contador {
    font-weight: bolder;
    position: absolute;
    background: rgb(21, 8, 138);
    border-radius: 50%;
    width: 30px;
    top: 33px;
    left: 25px;
    text-align: center;
    color: white;
}

 /* 
  _   _               _   _ _     
| \ | |             | | | | |    
|  \| | __ ___   __ | | | | |    
| . ` |/ _` \ \ / / | | | | |    
| |\  | (_| |\ V /  | |_| | |____
\_| \_/\__,_| \_/    \___/\_____/*/
 
nav {
    background: #ffffff;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #BCB9B9;
    border-bottom: 1px solid #BCB9B9;  
}

nav ul li {
    max-height: 90px;   
}

nav a {
    font-size: 1em;
    display: block;  
    color: #707070; 
    padding: 20px;
    margin-right: 30px;
}

nav a:hover {
    color: #2D86D4;
}

nav a.ativo {
    color: rgb(255, 255, 255);
    background-color: #627ff5;
}

.FixoNoTopo{
    position: fixed;
    top: 0px;
    width: 100%;
}

/* 
 _____                                     _ 
/  __ \                                   | |
| /  \/ __ _ _ __ _ __ ___  _   _ ___  ___| |
| |    / _` | '__| '__/ _ \| | | / __|/ _ \ |
| \__/\ (_| | |  | | | (_) | |_| \__ \  __/ |
 \____/\__,_|_|  |_|  \___/ \__,_|___/\___|_|
#carrousel-bg {
    display: grid;
    place-items: center; /*Centraliza os itens do container
    
}

#carousel {
    margin-top: 10px;
    width: 100vw; /*Define o tamanho da viewport para ver os itens
}

#items {
    display: flex;
    overflow-y: auto; /*Cria um scroll com todos os itens flex, utilizando o tamanho maximo da viewport
    
    scroll-snap-type: x mandatory; /* eixo X = vertical - 
    -webkit-overflow-scrolling: touch;
}

.item {
   flex: none;

    width: 100%;
    height: 100%;

    scroll-snap-align: start; /*Alinha a imagem que tiver mais px na tela
    
    pointer-events: none; /*Anula todos evetos que contem essa propriedade
}

#carousel img {
    width: 100%;
    height: 100%;

    object-fit: cover;
} */

/* 
______                  __ _      _           
| ___ \                / _(_)    (_)          
| |_/ / ___ _ __   ___| |_ _  ___ _  ___  ___ 
| ___ \/ _ \ '_ \ / _ \  _| |/ __| |/ _ \/ __|
| |_/ /  __/ | | |  __/ | | | (__| | (_) \__ \
\____/ \___|_| |_|\___|_| |_|\___|_|\___/|___/
                                              */

.beneficios {  
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;  
    margin: 10px auto 10px; 
    padding: 10px;  
    border-bottom: 1px solid #ccc ;
}

.text-bene p {
    font-size: 0.8em;
}

.beneficios-item {
    display: flex;   
    justify-items: center;     
}

.icon-bene {
    align-self: center;
    margin-right: 20px;   
}


/*
 _____       _                        _           
/  __ \     | |                      (_)          
| /  \/ __ _| |_ ___  __ _  ___  _ __ _  __ _ ___ 
| |    / _` | __/ _ \/ _` |/ _ \| '__| |/ _` / __|
| \__/\ (_| | ||  __/ (_| | (_) | |  | | (_| \__ \
 \____/\__,_|\__\___|\__, |\___/|_|  |_|\__,_|___/
                      __/ |                       
                     |___/                        */

.bg-categorias {
    background-color: #ffffff;
}

.categorias {
    padding: 20px;
    max-width: 1280px;
    margin: 0 auto;
    
}

.categorias h2 {
    margin-left: 8px;
}

.block-categoria {
    height: 3px;
    background-color: #0C37E3;
    width: 48px;  
    margin-left: 10px;
    
}

.flex-categoria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    
}

.categoria-form {
    width: 290px;
    height: 500px;
    background-size: cover;
    background-position: center;  
    transition: width 1s, height 2s, transform 5s;
    margin: 0 auto;
}

.categoria-1 {
  
    background-image: url('../imagens/Modelo-0.jpeg'); 
}

.categoria-2 {
    background-image: url('../imagens/Modelo-1.jpeg'); 
}

.categoria-3 {
    background-image: url('../imagens/Modelo-2.jpeg');
}

.categoria-4 {
    background-image: url('../imagens/Modelo-3.jpeg');   
}


/*@media (min-width: 1650px) {
    .categorias {
        padding: 5px;
        max-width: 1680px;
        margin: 0 auto;
        background-color: #F8A922;
    }

    .categorias h2 {
        padding-top: 20px ;
    }

    .categoria-1, .categoria-2, .categoria-3, .categoria-4 {
        width: 400px;
        height: 550px;
        transition: width 1s, height 2s, transform 5s;
    }

    .sobre{
        max-width: 1500;
        
    }
}*/

/*                       Banner comercial - 1 */

.banner-comercial-1 {
    background-image: url('../imagens/Banner-comercial-1.jpeg');
    background-repeat: no-repeat;
    margin: 20px auto 20px;  
    flex-wrap: wrap;
    max-width: 1200px;
    height: 250px;
}

/*
______                            
| ___ \                           
| |_/ /___  _   _ _ __   __ _ ___ 
|    // _ \| | | | '_ \ / _` / __|
| |\ \ (_) | |_| | |_) | (_| \__ \
\_| \_\___/ \__,_| .__/ \__,_|___/
                 | |              
                 |_|              */

.bg-novidades {
    max-width: 1280px;
    margin: 30px auto 60px;    
}

.roupas-novidades {
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;   
}

.roupas-form {   
    background-size: cover;
    background-position: center -1vh;
    width: 290px;
    height: 300px;  
    cursor: pointer;
}

.roupa {
    transition: all 1s ease;
}

.roupa:hover {
    box-shadow: 5px 5px 13px 2px rgba(0,0,0,0.42); 
    transition-timing-function: ease;
    transform:scale(1.10) ;
}

.roupa-0 {
    background-image: url('../imagens/roupas/Roupa-modelo-1-bgcolor.png');
}

.roupa-1 {
    background-image: url('../imagens/roupas/Roupa-modelo-2-bgcolor.png');
}

.roupa-2 {
    background-image: url('../imagens/roupas/Roupa-modelo-3-bgcolor.png');
   
}
.roupa-3 {
    background-image: url('../imagens/roupas/Roupa-modelo-4-bgcolor.png');
    
}

/* CATEGORIA - SOBRE */

.sobre {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 20px;
    border-top: 3px solid #2F70F2;
    border-bottom: 3px solid #2F70F2;
}

.sobre-img {
    height: 480px;
    width: 450px;
    background-image: url('../imagens/Sobre-icone.png');
    background-repeat: no-repeat;
    background-position-y: 40px;
    margin: 0 auto;
}

.sobre-info {
    max-width: 50%;
    padding: 50px;
    align-self: center;
}
 
.sobre-info h3 {
    font-weight: bold;
    font-size: 2em;
}

.sobre-info p {
    font-size: 1.2em;
    color: rgb(63, 62, 62);
}

/*
 _____                             _ _           _     
|_   _|                           | (_)         (_)    
  | | _ __ ___  _ __   ___ _ __ __| |___   _____ _ ___ 
  | || '_ ` _ \| '_ \ / _ \ '__/ _` | \ \ / / _ \ / __|
 _| || | | | | | |_) |  __/ | | (_| | |\ V /  __/ \__ \
 \___/_| |_| |_| .__/ \___|_|  \__,_|_| \_/ \___|_|___/
               | |                                     
               |_|                                     */

.block-imp-items {
    max-width: 1280px;
    margin: 30px auto 30px;
}

.imperdiveis {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px;
    gap: 10px   ;
}

.imp-img-form {
    background-size: cover;
    background-position:center;
    width: 380px;
    height: 300px;
}

.imp-img-0 {
    background-image: url('../imagens/imperdivel/imperdeivel-new.jpeg');
}

.imp-img-1 {
    background-image: url('../imagens/imperdivel/imperdeivel-1.jpeg');
}

.imp-img-2 {
    background-image: url('../imagens/imperdivel/imperdeivel-2.jpeg');
}

/*
______          _ _            ___  ___          _      _ 
| ___ \        | (_)           |  \/  |         | |    | |
| |_/ /__ _  __| |_  ___  ___  | .  . | ___   __| | ___| |
|    // _` |/ _` | |/ _ \/ __| | |\/| |/ _ \ / _` |/ _ \ |
| |\ \ (_| | (_| | | (_) \__ \ | |  | | (_) | (_| |  __/ |
\_| \_\__,_|\__,_|_|\___/|___/ \_|  |_/\___/ \__,_|\___|_|*/

.radius-model {
    background-color: #ffffff;
    max-width: 1280px;
    margin: 0px auto;
    padding: 20px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.radius-form-modelos {
    background-size: cover;
    background-position: center -3vh;   
    border-radius: 50%;
    width: 150px;
    height: 150px;
    cursor: pointer;
    
}

.radius-modal-tamanho {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom ;
    background-repeat: no-repeat;
}

.radius-modelo-0 {
    background-image: url('../imagens/radius-modelo-0.jpeg');   
}

.radius-modelo-1 {
    background-image: url('../imagens/radius-modelo-1.jpeg');
}

.radius-modelo-2 {
    background-image: url('../imagens/radius-modelo-2.jpeg');   
}

.radius-modelo-3 {
    background-image: url('../imagens/radius-modelo-3.jpeg') 
}

.radius-modelo-4 {
    background-image: url('../imagens/radius-modelo-4.jpeg');    
}



/*
______          _            
|  ___|        | |           
| |_ ___   ___ | |_ ___ _ __ 
|  _/ _ \ / _ \| __/ _ \ '__|
| || (_) | (_) | ||  __/ |   
\_| \___/ \___/ \__\___|_|    */

.newsletter {
    background-color: rgb(255, 255, 255);
    padding: 60px calc((100% - 960px) / 2);
    display: flex;
    flex-wrap: wrap;  
    
}

.newsletter-info {
    flex: 0 1 260px;
    margin: 30px 20px;
}

.newsletter-info h3 {
    font-size: 2.25em;

}

.newsletter-form {
    flex: 1 1 260px;
    margin: 0 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.newsletter-form input {
    flex: 3 1 240px;
    font-size: 1.25em;
    border: 4px solid #2D86D4;
    background: transparent;
    padding: 10px;
    margin: 0px;
    
}

.newsletter-form button {
    flex: 1 1 460px;
    font-family: "Nunito", sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    background: #2D86D4;
    color: white;
    margin: 0px;
    cursor: pointer;
    border: 0px;
    padding: 10px
}

/* INFO FOTTER */



.footer-info {
    background-color: rgb(224, 224, 233);
    display: flex;
    padding: 40px calc((100% - 960px) / 2);
    justify-content: space-around;
    flex-wrap: wrap;
}


/* transition: all .2s cubic-bezier(0.04, 0.99, 0.76, -0.36); */