* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
  /* Efeito paralax;  
    background-image: url('https://images.pexels.com/photos/2440061/pexels-photo-2440061.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */  
}

h1, h3, h4, a {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #4e4e4e;
}


p {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    color: #202020;
}

ul li, a {
    text-decoration: none;
    list-style: none;   
    font-family: 'Nunito', sans-serif;
    font-size: 0.8em;
}

h2 {
    color: rgb(99, 99, 99);
    font-size: 1.5em;
    font-family: 'nunito' ,sans-serif;
    font-weight: inherit;
    text-shadow:5px 4px 0px rgba(0,0,0,0.15);  
}

h4 {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.2;
    
}

.icon {
    height: 30px;
    margin: 10px;
}

.icon-1 {
    height: 25px;
}

.self {
    align-self: center;
}

/*  ANUNCIO _ MENSAGEM  */

.msg-anuncio {
    height: 10px;
    background-color: rgb(10, 10, 10);
}



/*
 _   _            ______            
| \ | |           | ___ \           
|  \| | __ ___   _| |_/ / __ _ _ __ 
| . ` |/ _` \ \ / / ___ \/ _` | '__|
| |\  | (_| |\ V /| |_/ / (_| | |   
\_| \_/\__,_| \_/ \____/ \__,_|_|   
                                    
                                    */


.menu-bg {
    background-color: rgb(255, 253, 253);

}

.logo {
    background-image: url('../imagens/icones/logo.png');
    background-size: cover;
    height: 80px;
    width: 100px;
    margin: 10px;
    flex: 0 0 auto;
    margin: 0 100px;
    cursor: pointer;
}

.menu-logo {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex: 3 0 auto;
    font-family: 'Nunito', sans-serif; 
    font-size: 0.7rem;
}

.submit-line {
    position: relative;
    width: 200px;
    align-self: center;
    display: flex;
    flex: 3 0 auto;
  }

.submit-line input {
    font-family: 'Nunito', sans-serif;
    color: #909090;
    height: 30px;
    width: 100%;
    padding: 10px;
    border: 1px solid #9e9e9e;
    outline: none;
    position: relative;
}

.submit-lente {
    background: rgb(235, 22, 153);
    border: none;
    height: 30px;
    width: 50px; 
    cursor: pointer;
}

.img-lent {
    background-image: url('../imagens/icones/lupa-icon.png');
    background-size: cover;
    height: 25px;
    width: 25px;   
    margin-left: 10px;
    
}

.cadastrar {
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 2 0 auto;
    font-family: 'Nunito', sans-serif; 
    font-size: 0.7rem;
}

.carrinho {
    position: relative;
    margin-right: 100px;
}

.contador {
    font-weight: bolder;
    position: absolute;
    background: rgb(21, 8, 138);
    border-radius: 50%;
    width: 30px;
    top: 33px;
    left: 25px;
    text-align: center;
    color: white;
}

 /* 
  _   _               _   _ _     
| \ | |             | | | | |    
|  \| | __ ___   __ | | | | |    
| . ` |/ _` \ \ / / | | | | |    
| |\  | (_| |\ V /  | |_| | |____
\_| \_/\__,_| \_/    \___/\_____/*/
 
nav {
    background: #ffffff;
}

.nav-button-style {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background: none;
    border: none;
    color: #707070;
    outline: none;
}

.nav-pc ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #BCB9B9;
    border-bottom: 1px solid #BCB9B9;  
}

.nav-pc ul > li {
    margin: 0 30px;
    padding: 13px;
}

.nav-pc a {
    font-size: 1em;
    display: block;  
    color: #707070; 
    margin-right: 30px;
}

.nav-pc a:hover {
    color: #2D86D4;
}

.FixoNoTopo{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}



/* 
 _____                                     _ 
/  __ \                                   | |
| /  \/ __ _ _ __ _ __ ___  _   _ ___  ___| |
| |    / _` | '__| '__/ _ \| | | / __|/ _ \ |
| \__/\ (_| | |  | | | (_) | |_| \__ \  __/ |
 \____/\__,_|_|  |_|  \___/ \__,_|___/\___|_|*/

 .carrousel-banners {
    position: relative;
    margin-top: 10px;
  }
  .carrousel-banners .item {
    height: 100%;
    overflow: hidden;
    text-align: center;
  
  }

  .carrousel-banners .item img {
      width: 100vw;
      height: 100%;
      background-size: cover;
  }


/* 
______                  __ _      _           
| ___ \                / _(_)    (_)          
| |_/ / ___ _ __   ___| |_ _  ___ _  ___  ___ 
| ___ \/ _ \ '_ \ / _ \  _| |/ __| |/ _ \/ __|
| |_/ /  __/ | | |  __/ | | | (__| | (_) \__ \
\____/ \___|_| |_|\___|_| |_|\___|_|\___/|___/
                                              */

.beneficios {  
    padding-top: 0.5rem;
    max-width: 1280px;
    display: flex;
    justify-content: space-evenly;
    
    flex-wrap: wrap;  
    margin: 10px auto 10px; 
    padding: 5px;  
    
}

.text-bene p {
    font-size: 0.8em;
}

.beneficios-item {
    display: flex;   
    justify-items: center;     
}

.icon-bene {
    align-self: center;
    margin-right: 20px;   
}


/*
 _____       _                        _           
/  __ \     | |                      (_)          
| /  \/ __ _| |_ ___  __ _  ___  _ __ _  __ _ ___ 
| |    / _` | __/ _ \/ _` |/ _ \| '__| |/ _` / __|
| \__/\ (_| | ||  __/ (_| | (_) | |  | | (_| \__ \
 \____/\__,_|\__\___|\__, |\___/|_|  |_|\__,_|___/
                      __/ |                       
                     |___/                        */

.bg-categorias {
    background-color: #ffffff;
}

.categorias {  
    max-width: 1280px;
    margin: 0 auto;
    
}

.block-categoria {
    height: 3px;
    background-color: #3b3b3b;
    width: 65px;  
    margin: 0px 0px 20px 2px;  
}

.flex-categoria {
    display: flex;
    gap: 5px;
    justify-content: center;
    padding-top: 10px;
    
}

.categoria-form {
    width: 400px;
    height: 500px;
    background-size: cover;
    background-position: center;  
    margin: 0 auto;
}

.categoria-1 {
  
    background-image: url('../imagens/Modelo-0\ 400x580.jpeg'); 
}

.categoria-2 {
    background-image: url('../imagens/Modelo-1\ 400x580.jpeg'); 
}

.categoria-3 {
    background-image: url('../imagens/Modelo-2\ 400x580.jpeg');
}

.categoria-4 {
    background-image: url('../imagens/Modelo-3\ 400x580.jpeg');   
}


/*                       Banner comercial - 1 */

.banner-comercial{  
    max-width: 1280px;
    text-align: center;
    margin: 50px auto 40px;  
  
}

.banner-comercial img {
    width: 100%;
   
}

/*
______                            
| ___ \                           
| |_/ /___  _   _ _ __   __ _ ___ 
|    // _ \| | | | '_ \ / _` / __|
| |\ \ (_) | |_| | |_) | (_| \__ \
\_| \_\___/ \__,_| .__/ \__,_|___/
                 | |              
                 |_|    */        

.galery-items {
    background: rgb(255, 255, 255);

}

.galery-box {
    max-width: 1280px;
    margin: 0 auto; 
}

.carousel {
  width: 1280px;
  background: rgb(255, 255, 255);
}

.carousel img {  
    width: 270px;
    height: 400px;
    margin: 20px 10px 5px;
    transition: all 1s ease;
}

.carousel-valor {
    padding: 0 0 40px ;
}

.carousel-item span {
   display: flex;
   color: rgb(61, 61, 60);
   margin-left: 10px;
   margin-bottom: 2px;
}

.carousel-item:hover {
    transition-timing-function: ease;
    transform:scale(1.03) ;
}



/* SOBRE */

.sobre {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 20px;
    border-top: 3px solid #2F70F2;
    border-bottom: 3px solid #2F70F2;
}

.sobre-img {
    height: 480px;
    width: 450px;
    background-image: url('../imagens/Sobre-icone.png');
    background-repeat: no-repeat;
    background-position-y: 40px;
    margin: 0 auto;
}

.sobre-info {
    max-width: 50%;
    padding: 50px;
    align-self: center;
}
 
.sobre-info h3 {
    font-weight: bold;
    font-size: 2em;
}

.sobre-info p {
    font-size: 1.2em;
    color: rgb(63, 62, 62);
}


/*
______          _ _            ___  ___          _      _ 
| ___ \        | (_)           |  \/  |         | |    | |
| |_/ /__ _  __| |_  ___  ___  | .  . | ___   __| | ___| |
|    // _` |/ _` | |/ _ \/ __| | |\/| |/ _ \ / _` |/ _ \ |
| |\ \ (_| | (_| | | (_) \__ \ | |  | | (_) | (_| |  __/ |
\_| \_\__,_|\__,_|_|\___/|___/ \_|  |_/\___/ \__,_|\___|_|*/

.radius-model {
    background-color: #ffffff;
    max-width: 1280px;
    margin: 0px auto;
    padding: 20px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.radius-form-modelos {
    background-size: cover;
    background-position: center -3vh;   
    border-radius: 50%;
    width: 150px;
    height: 150px;
    cursor: pointer;
    
}

.radius-modal-tamanho {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom ;
    background-repeat: no-repeat;
}

.radius-modelo-0 {
    background-image: url('../imagens/radius-modelo-0.jpeg');   
}

.radius-modelo-1 {
    background-image: url('../imagens/radius-modelo-1.jpeg');
}

.radius-modelo-2 {
    background-image: url('../imagens/radius-modelo-2.jpeg');   
}

.radius-modelo-3 {
    background-image: url('../imagens/radius-modelo-3.jpeg') 
}

.radius-modelo-4 {
    background-image: url('../imagens/radius-modelo-4.jpeg');    
}

/*
 _____                             _ _           _     
|_   _|                           | (_)         (_)    
  | | _ __ ___  _ __   ___ _ __ __| |___   _____ _ ___ 
  | || '_ ` _ \| '_ \ / _ \ '__/ _` | \ \ / / _ \ / __|
 _| || | | | | | |_) |  __/ | | (_| | |\ V /  __/ \__ \
 \___/_| |_| |_| .__/ \___|_|  \__,_|_| \_/ \___|_|___/
               | |                                     
               |_|                                     */

.block-imp-items {
    max-width: 1280px;
    margin: 30px auto 30px;
}

.imperdiveis {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
    gap: 10px;
}

.imp-img-0 {
    background-image: url('../imagens/imperdivel/imperdeivel-0.jpeg');
    background-position:center;
    grid-row: 1/3;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.imp-img-1 {
    background-image: url('../imagens/imperdivel/imperdeivel-1.jpeg');
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 300px;
}

.imp-img-2 {
    background-image: url('../imagens/imperdivel/imperdeivel-2.jpeg');
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 300px;
}



/*
______          _            
|  ___|        | |           
| |_ ___   ___ | |_ ___ _ __ 
|  _/ _ \ / _ \| __/ _ \ '__|
| || (_) | (_) | ||  __/ |   
\_| \___/ \___/ \__\___|_|    */

.newsletter {
    background-color: rgb(255, 255, 255);
    padding: 60px calc((100% - 960px) / 2);
    display: flex;
    flex-wrap: wrap;  
    
}

.newsletter-info {
    flex: 0 1 260px;
    margin: 30px 20px;
}

.newsletter-info h3 {
    font-size: 2.25em;

}

.newsletter-form {
    flex: 1 1 260px;
    margin: 0 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.newsletter-form input {
    flex: 3 1 240px;
    font-size: 1.25em;
    border: 4px solid #2D86D4;
    background: transparent;
    padding: 10px;
    margin: 0px;
    
}

.newsletter-form button {
    flex: 1 1 460px;
    font-family: "Nunito", sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    background: #2D86D4;
    color: white;
    margin: 0px;
    cursor: pointer;
    border: 0px;
    padding: 10px
}

/* INFO FOTTER */



.footer-info {
    background-color: rgb(224, 224, 233);
    display: flex;
    padding: 40px calc((100% - 960px) / 2);
    justify-content: space-around;
    flex-wrap: wrap;
}


/*
 _   _            _     _           _           
| \ | |          (_)   | |         | |          
|  \| | _____   ___  __| | __ _  __| | ___  ___ 
| . ` |/ _ \ \ / / |/ _` |/ _` |/ _` |/ _ \/ __|
| |\  | (_) \ V /| | (_| | (_| | (_| |  __/\__ \
\_| \_/\___/ \_/ |_|\__,_|\__,_|\__,_|\___||___/
*/

.block-slide {
    padding-top: 100px;
    max-width: 1280px;
    margin: 0 auto;
}

.bg-top {
    background-image: url('../imagens/Tokyo.png');
    background-size: cover;
    height: 7.1vw;
    margin-bottom: 50px;
}

.bg-top h1 {
    font-size: 42px;
    color: #707070;
    align-self: center;
}

.layout-carousel {
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    margin: 0 auto;
}

.carousel-slider {  
    max-width: 100vw;
    margin-right: 50px;
    margin: 0 auto;
    
}

.slider-for {
    margin-top: 10px;
    max-width: 1280px;
}

.slider-for img {
    max-width: 100vw;
 
    height: 400px;   
}


    


/* transition: all .2s cubic-bezier(0.04, 0.99, 0.76, -0.36); */