 /* 
  _   _               
| \ | |              
|  \| | __ ___   __    
| . ` |/ _` \ \ / /    
| |\  | (_| |\ V /  
\_| \_/\__,_| \_/   /*/
 

@media (min-width: 1024px) {
    .nav-mobile {
        display: none;
    }
}

@media  (max-width: 1024px) {
    .msg-anuncio {
        display: none;  
    }

    header {
        display: none;
    }
   
    .nav-pc {
        display: none;
    }

    .nav-mobile {
        display: flex;
        background: rgba(255, 255, 255, 0);
    }

    .nav-button-style {
        background-color: rgb(255, 255, 255);
        height: 50px;
    }

    .nav-button-style > img {
        width: 50px;
        margin-top: 5px;
    }  

    .nav-button-style:hover  {
        background: #ecececea;       
    }  
    
    .logo {
        width: 60px;
        height: 50px;
        margin: 0;
       
    }

    .submit-line {
        justify-self: center;
        margin-left: 100px;
        max-width: 500px;
        flex: 1 0 auto;
    }

    .submit-line > input {         
        height: 20px;
        font-size: 12px;
        color: #505050;
        border: none;
        background: rgb(219, 219, 223);
        outline: none;
        padding: 12px;
    }

    .submit-lente {
        width: 35px;
        height: 24px;
    }

    .img-lent {
        width: 15px;
        height: 15px;
    }
    
    .carrinho { 
        margin-left: 100px;
    }

    .carrinho img{
        width: 20px;
    }

    .carrinho span {
        width: 15px;
        height: 15px;
        font-size: 10px;
        top: 25px;
        left: 20px;
    }
}


/* 
 _____                                     _ 
/  __ \                                   | |
| /  \/ __ _ _ __ _ __ ___  _   _ ___  ___| |
| |    / _` | '__| '__/ _ \| | | / __|/ _ \ |
| \__/\ (_| | |  | | | (_) | |_| \__ \  __/ |
 \____/\__,_|_|  |_|  \___/ \__,_|___/\___|_|*/


 @media (max-width: 1024px){
        .gallery {
            margin-top: 1;
        }
 }



/* 
______                  __ _      _           
| ___ \                / _(_)    (_)          
| |_/ / ___ _ __   ___| |_ _  ___ _  ___  ___ 
| ___ \/ _ \ '_ \ / _ \  _| |/ __| |/ _ \/ __|
| |_/ /  __/ | | |  __/ | | | (__| | (_) \__ \
\____/ \___|_| |_|\___|_| |_|\___|_|\___/|___/
                                              */

    @media (max-width: 1024px) {
        .beneficios {
            max-width: 1024px;
            margin: 0;
        }

        .beneficios h4 {
            font-size: 1em;
            color: #707070;
        }

        .beneficios p {
            font-size: 0.8em;
        }

        .beneficios img {
            width: 16px;
            height: 16px;
        }
    }                                    





/*
 _____       _                        _           
/  __ \     | |                      (_)          
| /  \/ __ _| |_ ___  __ _  ___  _ __ _  __ _ ___ 
| |    / _` | __/ _ \/ _` |/ _ \| '__| |/ _` / __|
| \__/\ (_| | ||  __/ (_| | (_) | |  | | (_| \__ \
 \____/\__,_|\__\___|\__, |\___/|_|  |_|\__,_|___/
                      __/ |                       
                     |___/                        */


    @media (max-width: 1024px) {
    .categorias {
        max-width: 1024px;
    }

    .categorias h2 {
        font-size: 1em;
        font-weight: ;
    }

    .categoria-form {
        width: 200px;
        height: 300px;
    }

    .flex-categoria {
        max-width: 800px;
        margin: auto;
        gap: 10px;
    }


        /* bg-comercial*/

        .bg-comercial {
            display: none;
        }
        
}




 /*
______                            
| ___ \                           
| |_/ /___  _   _ _ __   __ _ ___ 
|    // _ \| | | | '_ \ / _` / __|
| |\ \ (_) | |_| | |_) | (_| \__ \
\_| \_\___/ \__,_| .__/ \__,_|___/
                 | |              
                 |_|    */    

@media (max-width: 1024px) {

    .galery-items {
        padding: 20px;
        
    }

    .galery-box {
        width: 90vw;
        margin: 0 auto;
        margin-left: 0px;       
       
    }

    .carousel {
        width: 700px;
        margin: 0 auto;
        display: flex;
      
    }

    .carousel img {
        width: 200px;
        height: 300px;
    }
}                 